{% extends "base2.html" %}
{% block title %}Password Reset Complete{% endblock %}
{% load static %}

{% block content %}
<div class="container-fluid login-bg d-flex justify-content-center align-items-center">
  <div class="login-box border rounded-5 p-4 bg-dark bg-opacity-75" style="width:400px">
    <h3 class="mb-4 text-white text-center">Password Reset Complete</h3>
    <p class="text-light text-center">
      Your password has been updated successfully.
    </p>
    <p class="text-light text-center mt-3">
      <a href="{% url 'userauth:login' %}" class="text-decoration-none text-white">&larr; Back to Login</a>
    </p>
  </div>
</div>
{% endblock %}