{% extends "base.html" %}
{% load static %}

{% block title %}Home page{% endblock %}

{% block content %}

<style>
     body {
    background-color: #ece7e7;
  }

.product-card {
    padding: 12px;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
}


.product-card:hover {
    background: #fff;
    transform: translateY(-6px);
    box-shadow: 0 12px 24px rgba(0,0,0,.15);
}


.image-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    background: #f5f2f2;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s ease;
}


.product-card:hover .image-container img {
    transform: scale(1.05);
}


.product-info {
    text-align: center;
    padding-top: 15px;
}
.product-description {
    font-size: 1rem;
    font-weight: 500;
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.product-price {
    color: #0c0c0c;
    font-size: 1rem;
    font-weight: 500;
}


</style>



<div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">

        {% for product in featured_products %}
        <div class="col">

            <div class="product-card">

                {% if product.Image %}
                <div class="image-container">
                     <a href="{% url 'shop:Product' product.pk %}">
                    <img src="{{ product.Image.url }}"
                         alt="{{ product.product_name }}">
                         </a>
                </div>
                {% endif %}

                <div class="product-info  d-flex align-items-start">
                   <h5 class="product-description">
                        {{ product.description }}
                    </h5>
                     </div>
                    <p  class ="d-flex align-items-start" style = " color: #0c0c0c; font-size: 1rem; font-weight: 600;">
                        {{ product.price }}€</p>
               

            </div>

        </div>
        {% empty %}
        <p>No featured products yet.</p>
        {% endfor %}

    </div>
</div>


<div class="container">
    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-5 g-4">

     {% for product in new_arrivals %}
        <div class="col">

            <div class="product-card">

                {% if product.Image %}
                <div class="image-container">
                    <a href="{% url 'shop:Product' product.pk %}">
                    <img src="{{ product.Image.url }}"
                         alt="{{ product.product_name }}">
                         </a>
                </div>
                {% endif %}

                <div class="product-info  d-flex align-items-start">
                   <h5 class="product-description">
                        {{ product.description }}
                    </h5>
                     </div>
                    <p  class ="d-flex align-items-start" style = " color: #0c0c0c; font-size: 1rem; font-weight: 600;">
                        {{ product.price }}€</p>
               

            </div>

        </div>
        {% empty %}
        <p>No featured products yet.</p>
        {% endfor %}

    </div>
</div>




{% endblock %}