{% extends "base.html" %}

{% block content %}
  {% load static %}
<style>
  .nav-pills .nav-link.active {
   background-color:#e2e1e1 ;
   
    padding: 5px 10px !important; 
    width: fit-content !important; 
    font-size: 0.9rem !important;
  }


  .nav-pills .nav-link {
    display: flex;
    align-items: center;
    gap: 12px;

    padding: 5px 20px !important;
    width: fit-content !important;
    min-width: 220px;

    color: black !important;
    font-size: 0.9rem !important;
}


  .Orders img {
    height: 60px;   
    width: auto;    
    margin-left: 100px;
    

}
.nav-pills .nav-link:hover {
     color: #cd1414 !important;
    
}


</style>
 <div class="container mt-4">
  <div class="row">

    
  <div class="col-md-3">
  <div class="nav flex-column nav-pills" role="tablist">
     <button class="nav-link active  mb-2 " data-bs-toggle="pill" data-bs-target="#account">
       <img style="width:20px; height:20px;"
         src="{% static 'image/user.png' %}"
         class="btn-icon"
         alt="Orders">
        <span style = "font-size: 18px;"> Your account</span>
    </button>
<button class="nav-link mb-2"
        data-bs-toggle="pill" data-bs-target="#orders">
    
    <img style="width:20px; height:20px; "
         src="{% static 'image/order.png' %}"
         class="btn-icon"
         alt="Orders">
    
    <span style = "font-size: 18px; "> Your orders</span>
</button>

   
    <button class="nav-link mb-2" data-bs-toggle="pill" data-bs-target="#coupons">
       <img style="width:20px; height:20px;"
         src="{% static 'image/coupan.png' %}"
         class="btn-icon"
         alt="Orders">
      <span style = "font-size: 18px;  "> Coupans and offers </span>
    </button>
     <button class="nav-link mb-2" data-bs-toggle="pill" data-bs-target="#coupons">
       <img style="width:20px; height:20px;"
         src="{% static 'image/location.png' %}"
         class="btn-icon"
         alt="Orders">
            <span style = "font-size: 18px;">Address</span>
    </button>
     <button class="nav-link mb-2" data-bs-toggle="pill" data-bs-target="#coupons">
       <img style="width:20px; height:20px;"
         src="{% static 'image/sesi.jpeg' %}"
         class="btn-icon"
         alt="Orders">
            <span style = "font-size: 18px;"> Coupans</span>
    </button>
     <button class="nav-link mb-2" data-bs-toggle="pill" data-bs-target="#coupons">
       <img style="width:20px; height:20px;"
         src="{% static 'image/sesi.jpeg' %}"
         class="btn-icon"
         alt="Orders">
           <span style = "font-size: 18px;"> Coupans</span>
    </button>

  </div>
</div>







   <div class="col-md-9">
  <div class="tab-content">

    <div class="tab-pane fade " id="orders">
      <h3>Your Orders</h3>
      <p>No orders yet.</p>
    </div>
     <div class="tab-pane fade  show active" id="account">

  <h3>Account Details</h3>

  {% if profile.Image %}
    <img src="{{ profile.Image.url }}"
          style="width:80px; height:80px; border-radius:50%; object-fit:cover;">
  {% else %}
    <p>No profile image</p>
  {% endif %}

<form method="POST" enctype="multipart/form-data" class="mt-1">
    {% csrf_token %}

    <div class="d-flex justify-content-start" style="margin-top: -30px;">
      <label for="image-upload" class="btn p-0" style="margin-left:4.5rem;">
            <img src="{% static 'image/edit.png' %}"
                 width="20"
                 height="20">
        </label>

        <input type="file"
               id="image-upload"
               name="image"
               class="d-none">
    </div>
<div class="mt-2 d-flex align-items-center gap-2">

    <label class="mb-0">Username</label>

    <input type="text"
           name="username"
           value="{{ profile.user.username }}"
           class="form-control form-control-sm"
           style="max-width: 180px;">

</div>
<p>Email: {{ profile.user.email }}</p>
   
   


    <button type="submit" class="btn btn-primary btn-sm">
        Save
    </button>

</form>

 


</div>

    <div class="tab-pane fade" id="coupons">
      <h3>Coupons</h3>
      <p>No coupons available.</p>
    </div>

  </div>
</div>
  </div>
</div>


{% endblock %}